.header-button {
    display: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #fff;
}
@media only screen  and (max-width: 400px){
    .header-button{
        display: block;
    }
}