.how-it-works {
    padding-bottom: 200px;
    padding-left: 85px;
  }
  .how-it-works__heading {
      margin-top: 0;
      margin-bottom: 178px;
      font-family: 'Fraunces';
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;    
      color: #83888F;
  }
  .how-it-works__list {
     margin: 0;
     margin-bottom: 64px;
     padding: 0;
     list-style: none;
     display: flex;
     counter-reset: inherit;
  }
  .how-it-works__item {
      &:not(:last-child){
          padding-right: 95px;
      }
      &:not(:last-child)::before{
        position: absolute;
        z-index: 1;
        display: flex;
        height: 1px;
        top: -82px ;
        width: 100%;
        background-color: #FDD6BA;
        content: '';
      }
      &::after{
        height: 31px;
        width: 31px;
        position: absolute;
        z-index: 1;
        top: calc(-82px - 15px);
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 50%;
        content: '';
      }
      position: relative;
      z-index: 1;
      width: 380px;
      counter-increment: item;
  }
  .how-it-works__item-heading{
      &::before{
        display: block;
        margin-bottom: 38px;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
        content: '0' counter(item);
      }
      margin-top: 0;
      margin-bottom: 42px;
      font-family: 'Fraunces';
      font-weight: 900;
      font-size: 32px;
      line-height: 36px;
      color: #333D4B;
  }
  @media only screen and (max-width: 700px) {
    .how-it-works{
      margin-top: 700px;
    }
    .how-it-works__item{
       &:not(:last-child){
         padding-right: 10px;
       }
      width: 223px;
    }
  }