.our-colletion {
    padding-top: 136px;
    padding-bottom: 200px;
}
.our-collection__heading {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 1.3;
    text-align: center;
    color: #83888F;
    background-clip: text;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);

}
.our-collection__list {
    margin-top: -90px;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}
.our-collection__item {
    &:not(:last-child){
        margin-right: 30px;
    }
    width: 255px;
    text-align: center;
}
.our-collection__img {
    margin-bottom: 71px;
}
.our-collection__content {
    margin-top: 0;
    margin-bottom: 24px;
    justify-content: center;
}
.our-collection__content-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.our-collection__content-desc {
    margin: 0;
}
@media only screen and (max-width: 700px){
    .our-collection__list {
        display: block;
    }
    .our-collection__item {
        &:not(:last-child){
            margin-right: 0;
        }
        display: flex;
        width: 573px;
    }
    .our-collection__heading{
        font-size: 96px;
    }
}