.our-commitent__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-commitent__content-wrapper {
    width: 540px;
    margin-left: 125px;
}
.our-commitent__title {
    margin: 0;
    margin-bottom: 32px;
    font-size: 40px;
    color: #333D4B;
}
.our-commitent__text {
    margin: 0;
    font-size: 16px;
    color: #333D4B;
}.our-commitent__img{
    border-radius: 10px;
}
@media only screen {
    
}