
.site-primary-link {
    &:hover{
        background-color: #66D2CF
    }
    @include link-settings;
    color: #fff;
    padding: 15px 31px;
    border-radius: 10px;
    background-color: #0E8784;
}